# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MAT351_A1/.vs/MAT351_A1/v16/ipch/AutoPCH/bb78ee98f81a8e97/MAIN.ipch
MAT351_A1/.vs/MAT351_A1/v16/ipch/AutoPCH/a68c88e6ffee94b5/MAIN.ipch
MAT351_A1/.vs/MAT351_A1/v16/ipch/AutoPCH/9dd5b045cc3628c4/APPLICATION.ipch
MAT351_A1/.vs/MAT351_A1/v16/ipch/AutoPCH/961eb6aeadd52cb0/APPLICATION.ipch
MAT351_A1/.vs/MAT351_A1/v16/ipch/AutoPCH/7690e3976a9862d3/OBJECT.ipch
MAT351_A1/.vs/MAT351_A1/v16/ipch/AutoPCH/563d2fb0e16731fe/MAIN.ipch
MAT351_A1/.vs/MAT351_A1/v16/ipch/AutoPCH/2bb7f647c2155500/MATH.ipch
MAT351_A1/.vs/MAT351_A1/v16/Browse.VC.opendb
MAT351_A1/.vs/MAT351_A1/v16/Browse.VC.db-wal
MAT351_A1/.vs/MAT351_A1/v16/Browse.VC.db-shm
MAT351_A1/.vs/MAT351_A1/v16/Browse.VC.db
MAT351_A1/.vs/MAT351_A1/v16/.suo
MAT351_A1/MAT351_A1.vcxproj.user
MAT351_A1/MAT351_A1.vcxproj.filters
MAT351_A1/x64/Debug/MAT351_A1.tlog/link.read.1.tlog
MAT351_A1/x64/Debug/MAT351_A1.tlog/link.command.1.tlog
MAT351_A1/x64/Debug/MAT351_A1.tlog/CL.write.1.tlog
MAT351_A1/x64/Debug/MAT351_A1.tlog/CL.read.1.tlog
MAT351_A1/x64/Debug/MAT351_A1.tlog/CL.command.1.tlog
MAT351_A1/x64/Debug/MAT351_A1.pdb
MAT351_A1/x64/Debug/MAT351_A1.ilk
MAT351_A1/x64/Debug/MAT351_A1.Build.CppClean.log
MAT351_A1/x64/Debug/vc142.idb
MAT351_A1/x64/Debug/vc142.pdb
